<p id="notice"><%= notice %></p>

<p>
  <strong>Ticker:</strong>
  <%= @portfolio.ticker %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @portfolio.amount %>
</p>

<%= link_to 'Edit', edit_portfolio_path(@portfolio) %> |
<%= link_to 'Back', portfolios_path %>
